
<!-- Header -->
<div class="sign-in-header basic-header">
  <img class="logo-sign-in" src="../../../assets/logo.png" alt="">
</div>

<!-- Navigation -->
<div class="pt-3 pb-2 mb-3 border-bottom">
  </div>
<div class="container-fluid">
  <div class="row">

    <nav class="col-xl-12 fixed-bottom d-md-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
        </ul>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">

              <div class="media-body">
                <h1>Hello: <strong>{{(user.email)}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
