
<!-- Header -->
<div class="sign-in-header basic-header">
  <img class="logo-sign-in" src="../../../assets/logo.png"  routerLink="/mood-screen" style="cursor:pointer;" alt="">
</div>

<!-- Navigation -->

<div class="container-fluid container-expanded">


    <nav class="col-xl-12 fixed-bottom d-md-block centered-el">
        <ul class="nav">
          <li class="nav-item">
                <a class="nav-link active">
                  <i class="fas fa-running" routerLink="/exercises"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">
                  <i class="fas fa-chart-line" routerLink="/patient-overview"></i>
                </a>
              </li>
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user" routerLink="/dashboard"></i>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-cog" routerLink="/settings"></i>
            </a>
          </li>
        </ul>
    </nav>
  
    <!-- Main content -->
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12">
      <div class="inner-adjust">
        <!-- Show user data when logged in -->
        <div class="row">
            <div class="displayTable">
                <div class="displayTableCell">
          <div *ngFor="let info of info">
            <div class="centered-el">
              <img src="../../../assets/dummy-user.png" style="border-radius: 50%; width: 25%; margin-bottom: 25px;" alt="">

            </div>    
                
        
                <div class="formGroup centered-el">
                    <input type="name" class="formControl formControl-u" value="{{info.FirstName}}"#userFname required>
                </div>
                <div class="formGroup centered-el">
                    <input type="name" class="formControl formControl-u" value="{{info.LastName}}"#userLname required>
                </div>
                <div class="formGroup centered-el">
                    <input type="button" class="btn btnPrimary formControl-u btn-u" value="Update Info" (click)="service.EditUserInfo(userFname.value, userLname.value)">
                  </div>
                <div class="formGroup centered-el">
                    <input type="button" class="btn btnPrimary formControl-u btn-u" (click)="authService.SignOut()" routerLink="/forgot-password" value="Change password" >
                </div>
        </div>
      
       
        <h5 style="margin-left: 13%;">Disease info:</h5>

            <div *ngFor="let info of info" class="centered-el">
               <div class="info-box"><span>{{info.DiseaseInfo}}</span></div> 
           
          </div>
        </div>
      </div>
         
    </div>

      </div>
    </main>
 
</div>

