<div class="sign-in-header basic-header">
  <img class="logo-sign-in" src="../../../assets/logo.png" alt="">
</div>
<div class="displayTable">
  <div class="displayTableCell">



    <div class="authBlock">
      <h3>Create Account</h3>


      <div class="formGroup">
        <input type="name" class="formControl" placeholder="First Name" #FirstName required>
      </div>
      <div class="formGroup">
        <input type="name" class="formControl" placeholder="Last Name" #LastName required>
      </div>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>
      <div>
        <select  class="formControl"  #userDoctor required>
          <option value="" disabled selected>Choose your Physiotherapist</option>
          <option *ngFor="let doctor of doctors" value="{{doctor.payload.doc.id}}" > {{doctor.payload.doc.data().FirstName}} {{doctor.payload.doc.data().LastName}}</option>
        </select>
      </div>
      
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value, userDoctor.value, FirstName.value, LastName.value)">
      </div>

      
    </div>

    <div class="redirectToLogin">
      <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>
  </div>

</div>
